# Ignore datasets and artifacts
artifacts/
data/
*.zip
*.jpg
*.jpeg
*.png
*.h5
*.npz
*.npy
# Explicitly ignore data.zip and all images in kidney folder
artifacts/data_ingestion/data.zip
artifacts/data_ingestion/kidney/**/*.jpg
artifacts/data_ingestion/kidney/**/*.jpeg
artifacts/data_ingestion/kidney/**/*.png

# Logs and outputs
logs/
*.log

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/
